node_modules
npm-debug.log
build
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
.vscode
.idea
.react-router
dist
*.log
Dockerfile
docker-compose.yml
.dockerignore